.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 0.1rem solid #c0c4cc;
  margin-bottom: 1em;
  color: #c0c4cc;
}
.navbar_search {
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  border: 0.2px solid #c0c4cc;
  padding: 0.3em 0.2em;
  border-radius: 0.1rem;
}
.navbar_search_input input {
  border: none;
  height: 100%;
  padding: 0.2em 0.1em;
}
.navbar_search_input input:focus {
  outline: none;
}
.navbar_logo {
  max-width: 25ch;
}
@media only screen and (max-width: 476px) {
  .navbar {
    flex-direction: column;
  }
}
