*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  width: 100%;
}

.no_result_text{
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}